<!-- Footer -->
<footer class="page-footer font-small blue pt-4 bg-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left py-4">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">{{ site.brief_title | escape }}</h5>
        <p class="">{{- site.description_on_page | escape -}}</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Explore</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/attorneys">About Jennifer</a>
          </li>
          <li>
            <a href="/services">Services</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Get in touch</h5>

        <ul class="list-unstyled">
          <li>
            <a onclick="gtag('event', 'phone', {'event_category':'contact', 'value': 1 })" href="tel:{{ site.phone }}">{{ site.phone }}</a>
          </li>
          <li>
            <p class="">{{site.address_1}}<br>{{site.address_2}}</p>
          </li>
          <li>
            <a onclick="gtag('event', 'fbmessenger', {'event_category':'contact', 'value': 1 })" href="http://m.me/{{site.socials.facebook}}" style="display:none;visibility:hidden">Contact me on FB Messenger</a>
          </li>
          <li>
            <a href="/contact">Contact Form</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>

    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <a href="https://facebook.com/{{site.socials.facebook}}"><img src="/assets/images/f_logo_RGB-Black_72.png" style="max-height:36px"></a>

      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <hr>
  <div class="container footer-copyright text-secondary py-4">© {{ 'now' | date: "%Y" }}
 Copyright: {{site.brief_title}}. {{site.disclaimer}}
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
